.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: start;
}

.card-message {
  margin: 0;
  font-size: 1rem;
}

.card-board-title {
  font-size: 1.7rem;
}

.owner-name,
.card-stats {
  color: #b2a285;
  font-weight: 400;
}

.owner-name {
  margin-top: -0.5rem;
  font-size: 1.2rem;
}

.card-stats {
  margin-top: -0.7rem;
  font-size: 0.9rem;
}

.divide-line {
  border-bottom: 1px solid #e8e3dc;
  margin: 0.5rem 0 1rem 0;
}

.no-cards,
.no-board-selected {
  text-align: center;
  font-size: 1.2rem;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-cards-submessage,
.no-board-submessage {
  color: #b29d75;
  margin: 0 0 0.7rem;
}

.no-cards-message,
.no-board-message {
  margin: 0 0 0.5rem;
}

.add-button {
  background-color: #f1f1f1;
  color: black;
  max-width: 220px;
  padding: 0.9rem;
  border-radius: 1rem;
  border: solid 2px #e8e3dc;
}

.sparkle-emoji {
  font-size: 4rem;
}

.add-button:hover {
  background-color: #20c1a1;
  border: solid 2px #e8e3dc;
  cursor: pointer;
  color: white;
}

.create-card-button {
  max-width: 240px;
  height: 60px;
  margin: 0;
  font-size: 1.2rem;
  border-radius: 1rem;
  font-weight: 300;
}

.cards-header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button span {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.cards-list-wrapper {
  background-color: white;
  width: auto;
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(32, 32, 32, 0.424);
}

.note {
  position: relative;
  background-color: #fff8dc;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(32, 32, 32, 0.303);
  min-height: 150px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note.yellow {
  background-color: #fee377;
}

.note.mint {
  background-color: #b8f3d8;
}

.note.lavender {
  background-color: #e6d5f5;
}

.note.peach {
  background-color: #ffd7ba;
}

.note.sky {
  background-color: #aed9e0;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 32px;
}

.note-buttons-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 0.5rem;
}

.like-button {
  background-color: #90909031;
  border: none;
  border-radius: 2rem;
  padding: 0.4rem;
  cursor: pointer;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.delete-button {
  background-color: #90909031;
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 1.7rem;
  padding: 0;
  cursor: pointer;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.like-button:hover {
  background-color: #5c5c5c3b;
}

.delete-button:hover {
  background-color: #ff00004f;
  color: red;
}

/* pin body */
.pin {
  background-color: #aaa;
  display: block;
  height: 20px;
  width: 2px;
  position: absolute;
  left: 50%;
  top: -10px;
  z-index: 1;
}

/* pin head */
.pin:after {
  background-color: rgb(229, 96, 59);
  background-image: radial-gradient(
    25% 25%,
    circle,
    hsla(0, 0%, 100%, 0.3),
    hsla(0, 0%, 0%, 0.3)
  );
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.1),
    inset 3px 3px 3px hsla(0, 0%, 100%, 0.2),
    inset -3px -3px 3px hsla(0, 0%, 0%, 0.2),
    17px 12px 3px hsla(0, 0%, 0%, 0.15);
  content: "";
  height: 12px;
  left: -5px;
  position: absolute;
  top: -10px;
  width: 12px;
}

/* pin shadow */
.pin:before {
  background-color: hsla(0, 0%, 0%, 0.1);
  box-shadow: 0 0 0.25em hsla(0, 0%, 0%, 0.1);
  content: "";

  height: 15px;
  width: 2px;
  left: 0;
  position: absolute;
  top: 5px;

  transform: rotate(57.5deg);
  -moz-transform: rotate(57.5deg);
  -webkit-transform: rotate(57.5deg);
  -o-transform: rotate(57.5deg);
  -ms-transform: rotate(57.5deg);

  transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
}

@media (max-width: 640px) {
  .card-container {
    margin-top: 32px;
  }

  .card-list {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  .card-message {
    font-size: clamp(1.1rem, 5vw, 1.35rem);
  }
}
