.board-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.board-item { 
    cursor: pointer; 
    border: 0.5px solid rgba(211, 211, 211, 0.449); 
    padding: 0.2rem 1rem; 
    border-radius: 4px; 
    transition: background-color 0.2s, border 0.2s; }

.board-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.board-title {
    margin: 0;
    font-size: 1rem;
}

.board-owner {
    margin: 0;
    font-size: 0.9rem;
    color: gray;
}


.board-item.selected {
    border: 2px solid rgb(249, 2, 2);
    font-weight: bold;
}

.new-board-form {
    max-width: 400px;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form-title {
    text-align: center;
    margin-bottom: 1rem;
}

.form-fields.hidden {
    display: none;
    width: 100%;
}

.form-group {
    margin-bottom: 0.5rem;
    width: 100%;
}

.form-label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.form-input {
    width: 100%;
    padding: 0.5rem;
    border: 0.5px solid rgba(211, 211, 211, 0.449);
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}

.submit-button {
    background-color: #4caf50;
    margin: 0.4rem 0;
}

.toggle-button {
    background-color: #fc0404;
    margin: 0.4rem 0;
}
