#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.app-container {
  width: 100%;
  padding: 1.7rem 2.1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.columns-wrapper {
  display: flex;
  gap: 1.8rem;
  padding:  0 0.7rem;
  align-items: stretch;
}

/* left block */
.top-section {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  align-items: flex-start;
  width: 410px;
}

/* rigth block */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cards-list-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* top title */
.title {
  font-family: 'Jacques Francois Shadow', cursive;
  text-align: center;
  margin-bottom: 1.6rem;
  padding: 0;
  font-weight: 400;
  font-size: 3.4rem;
  color: transparent;
  -webkit-text-stroke: 1.5px #525151;
  line-height: 1.2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.board-list-wrapper {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem 1.4rem;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.selected-board-wrapper {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem 1.4rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.new-board-wrapper {
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.search-board-section{
  width: 100%;
  box-sizing: border-box;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Search section + icon */
.search-board-section {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 10px;
  color: #B29D75;
  font-size: 1rem;
  pointer-events: none;
}

.board-search-input {
  width: 100%;
  padding: 0.9rem 0.75rem;
  padding-left: 3rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  box-sizing: border-box;
  color: #B29D75;
}

.board-search-input::placeholder {
  color: #B29D75;
  opacity: 1;
}

/* All input focus state */
input:focus {
  outline: 2px solid #D16E18;
  outline-offset: 1px;
}

input {
  border: 0.5px solid rgba(211, 211, 211, 0.449);
  border-radius: .6rem;
}

.sparkle-emoji {
  font-size: 3rem;
  line-height: 1;
}
