#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.boards-container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.board-list-wrapper {
  width: 250px;
}

.selected-board-wrapper {
  flex: 1;
}

.board-item {
  cursor: pointer;
  border: 1px solid lightgray;
  padding: 8px;
  list-style: none;
}

.board-item.selected {
  border: 2px solid rgb(249, 2, 2);
  font-weight: bold;
}

.form-fields.hidden {
  display: none;
}