#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.boards-container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.board-list-wrapper {
  width: 250px;
}

.selected-board-wrapper {
  flex: 1;
}